.title {
  margin-top: 2%;
  margin-left: 4%;
  margin-bottom: 2vh;
  font-size: var(--h1);
  font-family: var(--font);
  font-weight: var(--h1-weight);
  line-height: 3rem;
  color: white;
}

.project {
  margin-top: 10vh;
  width: 47vw;
  height: 150vh;
}

.projecthead {
  margin-top: -9%;
  display: grid;
  align-items: center;
  width: 55%;
  margin-bottom: 5vh;
  background-color: var(--light-grey);
  border-radius: 20px;
  width: 100%;
  height: 18vh;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons {
  margin-left: 4%;
  margin-bottom: 2%;
  margin-right: 20vw;
}

@media only screen and (max-width: 1026px) {
  .project {
    width: 80vw;
  }
}
