.title {
  margin-bottom: 2vh;
  font-size: var(--h1);
  font-family: var(--font);
  font-weight: var(--h1-weight);
  line-height: 3rem;
  color: white;
}

.project {
  margin-top: 14vh;
  width: 47vw;
  height: 150vh;
}

.projecthead {
  display: grid;
  align-items: center;
  width: 55%;
  margin-bottom: 5vh;
}

