.home {
  margin-top: 3vh;
  height: 150vh;
  background-color: var(--dark-color);
  color: white;
  width: 47vw;
}

.title {
  font-size: var(--h1);
  margin-bottom: 2%;
  font-family: var(--font);
  font-weight: var(--h1-weight);
  line-height: 3rem;
}

.subtitle {
  font-family: var(--font);
  font-size: 3vh;
  font-weight: 400;
}
.profile {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileText {
  text-align: left;
}

.profileimage {
  height: 30vh;
  width: auto;
  margin-top: 3vh;
}

.pinkText {
  color: var(--pink);
}

.blueText {
  color: var(--blue);
}

.textBackground {
  background-color: var(--gray);
  padding: 1.5%;
}

.aboutsection {
  margin-top: 4vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
