.home {
  display: grid;
  align-items: center;
  padding-top: 7vh;
}

.title {
  font-size: var(--h1);
  margin-bottom: 2%;
  font-family: var(--font);
  font-weight: var(--h1-weight);
  line-height: 3rem;
}

.subtitle {
  font-family: var(--font);
  font-size: 3vh;
  font-weight: 400;
}
.profile {
  display: flex;
  justify-content: space-between;
}
.profileText {
  text-align: left;
}

.profileimage {
  height: 30vh;
  width: auto;
}

.projectbtn {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: 5vh;
  width: 8vw;
  border-radius: 9px;
  margin-top: 5vh;
}

.pinkText {
  color: var(--pink);
}

.blueText {
  color: var(--blue);
}

.textBackground {
  background-color: var(--gray);
  padding: 1.5%;
}
