.body {
  height: 150vh;
  background-color: var(--dark-color);
  width: 47vw;
}

.form {
  margin-top: 10vh;
  display: grid;
  align-items: center;
  width: 40vw;
  margin-left: 3.5vw;
}

.submit {
  margin-top: 2vh;
}

.contacthead {
  margin-top: 10vh;
  color: white;
  display: grid;
  justify-items: flex-start;
  background-color: var(--light-grey);
  border-radius: 20px;
}

.title {
  font-size: var(--h1);
  font-family: var(--font);
  font-weight: var(--h1-weight);
  line-height: 3rem;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2vh;
}

.icons {
  width: 55%;
  margin-left: 4%;
  margin-bottom: 2%;
  margin-right: 20vw;
}
