:root {
  --dark-color: #202023;
  --light-grey: #3b3b40;
  --blue: #7fe3d7;
  --pink: #e359ae;
  --font: "Source Code Pro", monospace;
  --h1: 7vh;
  --h1-weight: 700;
  --h2: 3vh;
  --h2-weight: 400;
}

.app {
  background-color: var(--dark-color);
  display: grid;
  justify-content: center;
}

.navbar {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  position: fixed;
  width: 47vw;
}

@media only screen and (max-width: 1026px) {
  .navbar {
    width: 80vw;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
