:root {
  --dark-color: #202023;
  --blue: #7fe3d7;
  --pink: #e359ae;
  --font: "Source Code Pro", monospace;
  --h1: 7vh;
  --h1-weight: 700;
  --h2: 3vh;
  --h2-weight: 400;
}

.app {
  background-color: var(--dark-color);
  display: grid;
  justify-content: center;
}

.app-body {
  margin-left: 30vw;
  margin-right: 30vw;
}

.navbar {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
