:root {
  --dark-color: #202023;
  --blue: #7fe3d7;
  --pink: #e359ae;
}


.darkMode {
  margin-top: -2vh;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-color);
  color: white;
}

.lightMode {
  margin-top: -2vh;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: var(--dark-color);
}
