:root {
  --dark-color: #202023;
  --blue: #7fe3d7;
  --pink: #e359ae;
  --font: "Source Code Pro", monospace;
  --h1: 7vh;
  --h1-weight: 700;
  --h2: 3vh;
  --h2-weight: 400;
}

.app {
  margin-top: -2vh;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-color);
  color: white;
}

.app-body {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 4vh;
}

.navbar {
  margin-top: -4vh;
  margin-bottom: 2vh;
}
